@import url("fonts.css");
body {
  margin: 0px;
}

h1 {
  font-family: "Oswald_Bold", serif;
  font-size: 48px;
  line-height: 64px;
}

h3 {
  font-family: "Source_Sans_Pro", sans-serif;
  font-size: 24px;
  line-height: 32px;
}

p {
  font-family: "Source_Sans_Pro", sans-serif;
  font-size: 16px;
  line-height: 22px;
}

button {
  background: #55c2d8;
  border: none;
  border-radius: 18px;
  font-family: "Oswald_Regular", sans-serif;
  text-transform: uppercase;
  color: white;
  padding: 5px 15px 5px 15px;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 1.4px;
}

#navbar a {
  text-transform: uppercase;
  font-family: "Source_Sans_Pro", sans-serif;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 2.8px;
  color: white;
  text-decoration: none;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar > a {
  position: absolute;
  left: 10%;
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: medium;
}

#navbar ul {
  padding: 0;
}

#navbar li {
  display: inline-block;
  margin: 16px;
}
.about {
  border-bottom: 2px solid white;
}

header {
  background: url("../assets/header-background.png");
  background-size: cover;
  height: 100vh;
}

header h1 {
  color: #ffffff;
  margin: 13px 0px 42px 0px;
}

header h3 {
  color: #ffffff75;
}

header section {
  text-align: center;
  margin-top: 20vh;
}

main section {
  /* height: 100vh; */
  text-align: center;
  padding: 87px;
}

#main_1 {
  background: #eeeeee;
}

#main_1 h1 {
  color: #464547;
}
#main_1 h3 {
  color: #666666;
}
#main_1 .article {
  color: #666666;
  display: flex;
  gap: 5vw;
  text-align: left;
}
#main_1 p {
  flex: 1 1 50%;
}

#main_2 {
  background: url("../assets/culture-background.png");
  background-size: cover;
}

#main_2 h1,
#main_2 h3 {
  color: #ffffff;
}

#main_2 button {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  font-size: 4rem;
  margin: auto;
  padding: 2rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main_2 button div {
  font-size: 5rem;
  width: 3.5rem;
  height: 3.5rem;
}

footer {
  background: #454547;
  padding: 1rem 10%;
  display: flex;
  justify-content: space-between;
  gap: 10%;
}

footer > * {
  /* margin-left: 10%; */
  font-family: "Source-Sans-Pro", sans-serif;
}

footer .footer_project {
  display: flex;
  align-items: center;
  align-self: flex-start;
  gap: 16px;
  /* margin-left: 5%; */
}

.f1 {
  color: white;
  text-transform: uppercase;
  line-height: 16px;
  letter-spacing: 3.6px;
  font-size: 18px;
  margin: 14px 0px 14px 0px;
}

footer div:last-of-type {
  display: flex;
  flex: 1 1 20vw;
}
footer div:nth-of-type(2) {
  flex: 1 2 20vw;
  font-style: italic;
}
footer div:last-of-type p {
  margin: 0px;
  align-self: flex-end;
}

footer a,
.f2 {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4);
}
